@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* border: solid black 3px; */
}

/* HTML */
main {
  height: 1600px;
}

html {
  height: none;
  width: 1600px;
  width: 1800px;
  margin: 0 auto;
}

/*  HEADER */
.descuentosSpan {
  position: relative;
  top: none;
  bottom: none;
  left: 20px;
  right: none;
}

.tituloDescuentos h2,
.tituloDescuentos span {
  z-index: 2;
}
.tituloDescuentos .tituloFondo {
  z-index: 2;
}
.tituloDescuentos .tituloFondo h1 {
  z-index: 2;
}

header {
  background-color: #1cd1b0;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 101px;
  width: none;
  position: sticky;
}

.tituloTres {
  background-color: #001d2d;
  box-shadow: 1px 10px 5px #4b4b4b;
  color: white;
  position: sticky;
  top: 100px;
  bottom: none;
  left: none;
  right: none;
  z-index: 2;
}
.tituloTres li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: none;
  margin: 0 20px;
}
.tituloTres ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.tituloFondo {
  background-color: #00669f;
  color: white;
  height: 101px;
  position: sticky;
  top: 0px;
}

/* BODY */
a:link {
  text-decoration: none;
}

.tituloFondo:hover,
.ayuda1:hover {
  transition: all 0.5s;
}

.contenedorCartas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: none;
  bottom: 110px;
  left: none;
  right: none;
  height: 1200px;
  width: none;
}

input:checked ~ .contenedorAux {
  opacity: 100%;
  display: block;
}

.ayuda {
  height: 70px;
  width: 70px;
  position: sticky;
  top: 1250px;
  bottom: none;
  left: 2750px;
  right: none;
  z-index: 1;
}

.etiquetaSegundaPagina {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #00669f;
  border-radius: 100%;
  color: #fff9f9;
  font-size: 60px;
  z-index: 1;
}
.etiquetaSegundaPagina:hover {
  background-color: #001d2d;
  color: white;
}

.contenedorAgregar {
  position: relative;
  top: -1200px;
  bottom: none;
  left: none;
  right: none;
  height: 70vh;
  width: none;
  display: none;
  opacity: 0%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
  box-shadow: 1px 10px 5px #4b4b4b;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.carta:hover {
  transition: all 1s;
  transform: scale(1.2);
}

.imgRedonda:hover {
  transition: all 1s;
  transform: scale(1.5);
}

#menuHamburguesa {
  visibility: hidden;
}

@keyframes vueltaPaginaCartas {
  100% {
    opacity: 0%;
    transform: rotateY(180deg);
    transform-origin: left;
    translate: -1000px;
  }
}
@keyframes vueltaPaginaAgregar {
  100% {
    opacity: 100%;
  }
}
#segundaPagina {
  visibility: hidden;
}
#segundaPagina:checked ~ .contenedorCartas {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: vueltaPaginaCartas;
  transition: all 2.5s;
}
#segundaPagina:checked ~ .contenedorAgregar {
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-name: vueltaPaginaAgregar;
  display: flex;
  transition: all 2.5s;
}

.contenedorPrincipal {
  height: 1350px;
}

.tituloDescuentos,
.tituloFondo {
  z-index: 4;
}

.boton1:hover {
  background-color: #001d2d;
  color: white;
}

.contenedorCorazon {
  position: relative;
  top: 10px;
  bottom: none;
  left: 20px;
  right: none;
  height: none;
  width: 50px;
  animation: corazon 2s infinite;
}

@keyframes corazon {
  0% {
    opacity: 0%;
  }
  20% {
    transform: scale(1.04);
    opacity: 100%;
  }
  100% {
    /*   transform: rotate(-50deg); */
    opacity: 0%;
  }
}
.contenedorCartas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: none;
  bottom: 110px;
  left: none;
  right: none;
  height: 1200px;
  width: none;
}

.espaciador {
  height: 90px;
  width: none;
}

.bloqueContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.imagen-top {
  height: 200px;
  width: 350px;
  border: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
}

.tUno,
.tDos,
.tTres,
.tCuatro,
.rCuatro {
  background-size: cover;
  background-repeat: no-repeat;
}

.tUno {
  background-image: url(../img/Batman1.png);
}

.rUno {
  background-image: url(../img/Bat1.png);
}

.tDos {
  background-image: url(../img/Fondo\ Maravilla.png);
}

.rDos {
  background-image: url(../img/Mujer\ maravilla.png);
}

.tTres {
  background-image: url(../img/Fondo\ superman.png);
}

.rTres {
  background-image: url(../img/Foto\ superman.png);
}

.tCuatro {
  background-image: url(../img/Harley.png);
}

.rCuatro {
  background-image: url(../img/Har1.png);
}

.imgRedonda {
  position: absolute;
  top: 140px;
  bottom: none;
  left: none;
  right: none;
  height: 118px;
  width: 120px;
  align-self: center;
  background-size: contain;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.tituloImg {
  text-align: center;
}

.descripcion {
  position: relative;
  top: 10px;
  bottom: none;
  left: none;
  right: none;
  height: 200px;
  width: 320px;
}

input:not([type=file]) {
  height: 48.52px;
  width: 128.78px;
  background-color: #00669f;
  color: #f3f3f3;
  margin: 20px;
}

/* PAGINA AGREGAR*/
.tituloContenedor h2,
.tituloContenedor h3 {
  color: white;
  text-align: center;
}
.tituloContenedor h2 {
  font-size: 60px;
}
.tituloContenedor h3 {
  font-size: 30px;
}

.contenedorAgregar {
  display: none;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

.contenedorAux {
  height: 1050px;
  width: 1200px;
  background-color: #00669f;
  border-radius: 49px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bloqueIzquierdo {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 750px;
  width: 400px;
  flex-direction: column;
}

.bloqueFecha {
  display: flex;
  justify-content: center;
  align-items: none;
  height: none;
  width: 400px;
  flex-direction: column;
}

.bloqueFecha input {
  position: relative;
  top: none;
  bottom: none;
  left: none;
  right: 20px;
}

.nombre {
  height: none;
  width: 100%;
}

.bloqueIzquierdo input[type=text]:valid {
  background-color: #aff9fe;
}

.bloqueIzquierdo label {
  color: white;
  font-size: 20px;
}

.contenedorCentro input[type=text],
.contenedorCentro select,
input[type=date],
textarea {
  height: 63px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

input[type=text],
input[type=date] {
  color: black;
}

input[type=date]:valid {
  background-color: #aff9fe;
}

textarea {
  height: 400px;
  width: 400px;
  resize: none;
}

.contenedorCentro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: none;
  gap: 20px;
}

.bloqueDerecho {
  flex-direction: column;
  display: flex;
  justify-content: none;
  align-items: center;
  height: none;
  width: 400px;
  position: relative;
  top: -66px;
  bottom: none;
  left: none;
  right: none;
}
.bloqueDerecho label {
  color: white;
  font-size: 20px;
}

.bloquePoderes {
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
  position: relative;
  top: 40px;
  bottom: none;
  left: none;
  right: none;
}
.bloquePoderes label {
  font-size: 20px;
  position: relative;
  top: none;
  bottom: none;
  left: 20px;
  right: none;
}
.bloquePoderes label:first-child {
  font-size: 20px;
}
.bloquePoderes input {
  accent-color: #aff9fe;
  height: 20px;
  width: 20px;
}
.bloquePoderes span:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

.bloqueEspecies {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 400px;
}

.bloqueFoto {
  display: flex;
  justify-content: center;
  align-items: none;
  position: relative;
  top: 40px;
  bottom: none;
  left: none;
  right: none;
  height: none;
  width: 400px;
  flex-direction: column;
}
.bloqueFoto input {
  width: 400px;
}

.bloqueTiposDePersonaje {
  height: none;
  width: 400px;
}
.bloqueTiposDePersonaje input {
  height: 20px;
  width: 20px;
}
.bloqueTiposDePersonaje label {
  margin-left: 20px;
}

.bloqueBoton {
  display: flex;
  justify-content: center;
  align-items: none;
}
.bloqueBoton input {
  height: 87px;
  width: 466px;
  background-color: #1cd1b0;
  border-radius: 23px;
  color: black;
  font-size: 40px;
  font-weight: 700;
}
.bloqueBoton input:hover {
  background-color: #001d2d;
  color: white;
}

/* FOOTER */
footer {
  align-items: center;
  background-color: #00669f;
  color: #fff9f9;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  z-index: 2;
}
footer h3 {
  padding-left: 20px;
}

.imagenFooter {
  height: 68px;
  width: 248px;
}

/* TABLETS */
@media (max-width: 768px) and (min-width: 542px) {
  /* HTML Y BODY */
  main {
    height: 2120px;
    width: none;
    display: flex;
    flex-direction: column;
  }
  html,
  body,
  .contenedorCartas {
    flex-wrap: wrap;
    height: 1400px;
    width: 100vw;
  }
  /* BODY */
  .ayuda {
    position: sticky;
    top: 878px;
    bottom: none;
    left: none;
    right: none;
    z-index: 3;
  }
  .etiquetaSegundaPagina {
    position: sticky;
    height: 50px;
    width: 50px;
    font-size: 40px;
  }
  #segundaPagina:checked ~ .etiquetaSegundaPagina {
    background-color: white;
    color: #00669f;
  }
  #segundaPagina:checked ~ .segundaPagina {
    background-color: white;
    color: #00669f;
  }
  .contenedorCartas {
    flex-direction: row;
    flex-wrap: wrap;
    height: none;
    width: 100vw;
  }
  .contenedorPrincipal {
    height: 1400px;
    width: none;
  }
  .carta,
  .espaciador {
    position: relative;
    height: none;
    width: 265px;
  }
  .contenedorCorazon {
    height: none;
    width: 20%;
  }
  .descripcion {
    height: none;
    width: 36vw;
  }
  .descripcion p {
    font-size: 80%;
  }
  .imgRedonda {
    position: absolute;
    top: 105px;
    bottom: none;
    left: none;
    right: none;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen-top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 155px;
    width: 266px;
  }
  /* SEGUNDA PAGINA */
  .contenedorCentro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: none;
    width: 95vw;
    flex-direction: column;
  }
  .contenedorAux {
    height: 1750px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contenedorAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1200px;
    width: 95vw;
    margin-left: 10px;
    position: relative;
    top: -1234px;
    bottom: none;
    left: none;
    right: none;
    display: none;
  }
  .tituloContenedor {
    position: relative;
    top: 23px;
    bottom: none;
    left: none;
    right: none;
  }
  .tituloContenedor h2 {
    font-size: 220%;
  }
  .tituloContenedor h3 {
    font-size: 114%;
  }
  .contenedorCentro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2000px;
    width: none;
    flex-direction: column;
    position: relative;
  }
  /* 3 */
  .bloqueIzquierdo {
    position: relative;
    top: 53px;
    bottom: none;
    left: none;
    right: none;
  }
  .bloqueDerecho {
    position: relative;
    top: -87px;
    bottom: none;
    left: none;
    right: none;
  }
  /* FOOTER */
  .imagenFooter {
    background-image: url(../img/GitHub.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 130px;
    position: relative;
    top: none;
    bottom: none;
    left: none;
    right: 10px;
  }
  footer {
    font-size: 50%;
    height: 50px;
  }
}
/* CELULARES */
@media (max-width: 541px) {
  * {
    font-size: 105%;
  }
  /* HTML */
  html {
    height: 2600px;
    width: 100%;
  }
  body {
    height: 1600px;
    width: 100%;
  }
  main {
    height: 2200px;
    width: 100%;
  }
  #menuHamburguesa {
    height: 10px;
    width: 10px;
  }
  /* BODY */
  .etiquetaSegundaPagina {
    height: 35px;
    width: 35px;
    font-size: 35px;
  }
  .ayuda {
    display: flex;
    justify-content: flex-end;
    align-items: none;
    position: sticky;
    top: 500px;
    bottom: none;
    left: none;
    right: 6600px;
    height: none;
    width: 50px;
  }
  .contenedorPrincipal {
    height: 1900px;
    width: none;
  }
  .carta {
    height: 55vh;
    width: 65vw;
    margin-top: 40px;
  }
  .contenedorCartas {
    display: flex;
    justify-content: space-around;
    align-items: none;
    height: -moz-fit-content;
    height: fit-content;
    width: none;
    flex-direction: column;
    margin-top: 20px;
  }
  .cartaCuatro {
    display: none;
  }
  .descripcion {
    height: 10vh;
    width: 55vw;
  }
  .imgRedonda {
    position: absolute;
    top: 110px;
    bottom: none;
    left: none;
    right: none;
  }
  .imagen-top {
    position: relative;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    width: 65vw;
  }
  p {
    font-size: 40%;
  }
  .bloqueIzquierdo {
    position: relative;
    top: 20px;
    bottom: none;
    left: none;
    right: none;
    height: none;
    width: 90%;
  }
  .bloqueIzquierdo input[type=file] {
    height: 40px;
    width: 95%;
    font-size: 10px;
  }
  .bloqueFecha {
    width: 100%;
  }
  /* SEGUNDA PAGINA */
  .contenedorAgregar {
    position: relative;
    top: -1550px;
    bottom: none;
    left: none;
    right: none;
    height: 1500px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
  .contenedorAux {
    height: 1514px;
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .bloqueBoton input {
    height: 50px;
    font-size: 25px;
  }
  form {
    height: 1500px;
  }
  .tituloContenedor h2 {
    font-size: 20px;
  }
  .tituloContenedor h3 {
    font-size: 15px;
  }
  .contenedorCentro {
    display: flex;
    justify-content: none;
    align-items: center;
    position: relative;
    top: 272px;
    bottom: none;
    left: none;
    right: none;
    height: none;
    width: 80vw;
    flex-direction: column;
  }
  .bloqueDerecho {
    position: relative;
    top: 6px;
    bottom: none;
    left: none;
    right: none;
  }
  .bloqueDerecho,
  .bloquePoderes,
  .bloqueTiposDePersonaje,
  .bloqueEspecies,
  .bloqueFoto,
  .bloqueFoto Input {
    width: 95%;
  }
  .bloqueTiposDePersonaje {
    position: relative;
    top: -45px;
    bottom: none;
    left: none;
    right: none;
  }
  .bloqueBoton {
    position: relative;
    top: 525px;
    bottom: none;
    left: none;
    right: none;
  }
  textArea {
    width: 100%;
  }
  /* FOOTER */
  footer {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: none;
    bottom: 0px;
    left: none;
    right: none;
    height: 65px;
    width: 100vw;
  }
  .textoFooter {
    width: 100vw;
  }
  .imagenFooter {
    background-image: url(../img/GitHub.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 120px;
  }
}/*# sourceMappingURL=estilos.css.map */