$colorFondo: white;
$colorTitulo3: #001d2d;
$tituloColorFondo:#00669f;
$tiempoDeTransition-rapida: 0.5s;
$tiempoDeTransition-intermedio: 2s;
$tiempoDeTransition-lenta: 2.5s;
$colorAlternativo: #f3f3f3;
$colorTexto: black;